# Packages
**/node_modules

# Build files
**/dist

# Serverless directories
.serverless

# Terraform
.terraform/
.terraform.lock.hcl
terraform-service-account.json
terraform.tfstate*
terraform.lock*
tf_plan